################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/MetaSharp/bin
/MetaSharp/obj
/MetaSharp.Tests/bin
/MetaSharp.Tests/obj
